div {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

button {
    color: #a28089;
    background: white;
    border: none;
    margin-top: 5px;
    width: 50%;
    height: 50px;
    border-radius: 3px;
}